@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.app{
background-color: #E9ECF4;
width: 100vw; /* 화면 가로폭 전체 너비 */
height: 100vh; /* 화면 세로폭 전체 높이 */
}

.main-text{
font-size: medium;
position: relative;
overflow: hidden;
animation: main-text 7s ease-in-out;
  
}


.main-text-01 {
position: absolute;
width: 180px;
height: 117px;
left: calc(50% - 180px/2);
top: 101px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 117px;
/* identical to box height */

text-align: center;

color: #AFB3C2;
text-shadow: 1px 1px 1px #FFFFFF;  

  }

.main-text-02 {
position: absolute;
width: 400px;
height: 59px;
left: calc(50% - 400px/2);
top: 218px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 59px;
/* identical to box height */

text-align: center;

color: #BABECC;

text-shadow: 1px 1px 1px #FFFFFF;

}

.main-img-01{
        position: relative;
        width: 503px;
        height: 345px;
        left: calc(50% - 620px);
        top: 344px;
        border-radius: 50px;
        background: #EBECF0;
        box-shadow:  26px 26px 52px #cacbce,
                    -26px -26px 52px #ffffff;
    }

    .main-img-02{
        position: relative;
        width: 300px;
        height: 290px;
        left: calc(50% - 68px);
        top: 30px;      
        border-radius: 50px;
        background: #EBECF0;
        box-shadow:  26px 26px 52px #cacbce,
                    -26px -26px 52px #ffffff;
    }

    .main-img-03{
        position: relative;
        width: 328px;
        height: 250px;
        left: calc(50% + 280px);
        top: -230px;      
        border-radius: 50px;
        background: #EBECF0;
        box-shadow:  26px 26px 52px #cacbce,
                    -26px -26px 52px #ffffff;
    }
