{% extends 'base.html' %}
{% load static %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<section class="app upload-page">
    <div class="container py-3">
        
        <div class="portfolio-info row my-5 d-flex justify-content-center">

            <!-- 주파수 모드 선택 -->
            <!-- 주파수 모드 종류 
                저주파 1 : 20~1000
                저주파 2 : 20~2000
                중음역 3 : 500~3000
                고주파 4 : 1000~20000
                고주파 5 : 2000~20000
            -->
            <div class="portfolio-links col-lg-3 main-detail mx-3 p-5">
                <legend class="content-bold mb-3">주파수 모드 선택</legend>

                <a data-bs-toggle="modal" href="#portfolioModal" data-gallery="portfolioGallery"
                class="btn btn-outline-info align-self-start my-2 portfolio-link portfolio-lightbox" title="More Details">
                    잘 들리는 모드 확인하기
                </a>

                <fieldset class="d-flex justify-content-center">
                    
                    <p>
                        <label for="frequency">
                            <select name = "num", id="num" class="text-center">
                                <option value="" selected disabled>----- 선택 -----</option>
                                <option value="1">저주파 1</option>
                                <option value="2">저주파 2</option>
                                <option value="3">원본</option>
                                <option value="4">고주파 1</option>
                                <option value="5">고주파 2</option>
                            </select>
                        </label>
                    <p>
                </fieldset>
            </div>

            <!-- 입모양 생성 여부 -->
            <div class="col-lg-3 main-detail mx-3 p-5">

                <legend class="content-bold mb-3">입모양 생성 여부 선택</legend>

                <fieldset class="d-flex justify-content-between p-2">
                    <label>
                        <input type="radio" name="generate_mouth" value="yes"> 생성 O
                        <img src={% static 'img/입모양.png' %} style="width:80px; height:auto;" class="mt-2">
                    </label>
                    <label>
                        <input type="radio" name="generate_mouth" value="no"> 생성 X
                        <img src={% static 'img/입모양X.png' %} style="width:80px; height:auto;" class="mt-2">
                    </label>
                </fieldset>
            </div>

            <!--텍스트 생성 여부 -->
            <div class="col-lg-3 main-detail mx-3 p-5">

                <legend class="content-bold mb-3">텍스트 생성 여부 선택</legend>

                <fieldset class="d-flex justify-content-between p-2">
                    <label>
                        <input type="radio" name="generate_text" value="yes"> 생성 O
                        <img src={% static 'img/텍스트.png' %} style="width:80px; height:auto;" class="mt-2">
                    </label>
                    <label>
                        <input type="radio" name="generate_text" value="no"> 생성 X
                        <img src={% static 'img/입모양X.png' %} style="width:80px; height:auto;" class="mt-2">
                    </label>
                </fieldset>
            </div>

        </div>

        <div class="d-flex justify-content-center p-5">
            <div>
                <div class="input-group">
                    <input type="file" name="file" class="form-control">
                    <button type="submit" class="btn btn-outline-dark">업로드</button>
                </div>
                <div class="text-center">
                    {% if message %}
                        <p class="text-primary">{{ message }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <!-- 반려동물 detail Modal창-->
        <div class="portfolio-modal modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body py-4">

                                    <!-- Project details-->
                                    <h2 class="text-uppercase mb-5 content-bold">잘 들리는 모드 확인하기</h2>
                                    <p class="item-intro">아래의 5가지 음원을 듣고, 가장 잘 들리는 모드를 확인해보세요!</p>

                                    <ul class="list-inline my-5 align-self-center" style="width: 600px;">
                                        <li class="d-flex justify-content-between my-4">
                                            <strong class="mt-3 mx-4">(1) 저주파 1 (20~1,000Hz):</strong>
                                            <audio controls>
                                                <source src="{% static "audio/한국어예시_저1.mp3" %}" type="audio/mpeg">
                                                브라우저에서 지원되는 포맷이 아닙니다.
                                            </audio>
                                        </li>
                                        <li class="d-flex justify-content-between my-4">
                                            <strong class="mt-3 mx-4">(2) 저주파 2 (20~2,000Hz):</strong>
                                            <audio controls>
                                                <source src="{% static "audio/한국어예시_저2.mp3" %}" type="audio/mpeg">
                                                브라우저에서 지원되는 포맷이 아닙니다.
                                            </audio>
                                        </li>
                                        <li class="d-flex justify-content-between my-4">
                                            <strong class="mt-3 mx-4">(3) 원본:</strong>
                                            <audio controls>
                                                <source src="{% static "audio/한국어예시_원본.mp3" %}" type="audio/mpeg">
                                                브라우저에서 지원되는 포맷이 아닙니다.
                                            </audio>
                                        </li>
                                        <li class="d-flex justify-content-between my-4">
                                            <strong class="mt-3 mx-4">(4) 고주파 1 (1,000~20,000Hz):</strong>
                                            <audio controls>
                                                <source src="{% static "audio/한국어예시_고1.mp3" %}" type="audio/mpeg">
                                                브라우저에서 지원되는 포맷이 아닙니다.
                                            </audio>
                                        </li>
                                        <li class="d-flex justify-content-between my-4">
                                            <strong class="mt-3 mx-4">(5) 고주파 2 (2,000~20,000Hz):</strong>
                                            <audio controls>
                                                <source src="{% static "audio/한국어예시_고2.mp3" %}" type="audio/mpeg">
                                                브라우저에서 지원되는 포맷이 아닙니다.
                                            </audio>
                                        </li>
                                    </ul>

                                    <div class="d-md-flex justify-content-md-end">
                                        <button class="btn btn-info btn-xl text-uppercase d-grid col-3 " data-bs-dismiss="modal" type="button">
                                            닫기
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     <!-- 반려동물 detail Modal창 End-->
</section>
</form>
{% endblock %}

{% block script %}
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src={% static "modal_scripts.js" %}></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
{% endblock %}